In [1]:
#I saved the data from Advent of Code Day 1 problem as a .csv file, imported it, then viewed it.
#This problem requires you to take the first and last digit of each row of this data to create a two digit number, then sum the total.
import pandas as pd

data = pd.read_csv('Code Practice Trebuchet.csv')

data

                                    Code
0                       sq5fivetwothree1
1                                 six5gc
2       txb3qfzsbzbxlzslfourone1vqxgfive
3                          3onethreebrth
4    cseven7nqqxnkzngndtddfiverkxkxqjjsr
..                                   ...
995                                44kmn
996               rbgfivefive3eightthree
997                three4nhvblteightfour
998                2six64rjmcvvxshxjlndj
999               3nine4fourjclspd152rpv

[1000 rows x 1 columns]

In [2]:
#I removed the non-numeric characters with a regular expression.
data['Code'] = data['Code'].str.replace('\D', '', regex = True)
data

      Code
0       51
1        5
2       31
3        3
4        7
..     ...
995     44
996      3
997      4
998    264
999  34152

[1000 rows x 1 columns]

In [3]:
#I created a function to make a list of all of the first digits then another list of all of the last digits.
def treb_1():
    first_dig = []
    last_dig = []
    for i in data['Code']:
        first_dig.append(i[0])
    for i in data['Code']:
        last_dig.append(i[-1])
#It then combines the two lists to make strings of each two decimal number.
    new_list = [x + y for x, y in zip(first_dig, last_dig)]
#I previewed this to make sure my lists worked as expected.
    print(new_list)
treb_1()

['51', '55', '31', '33', '77', '24', '15', '11', '26', '75', '75', '15', '73', '87', '99', '54', '51', '51', '11', '22', '19', '76', '33', '71', '76', '72', '42', '29', '49', '86', '51', '82', '55', '58', '74', '77', '91', '44', '68', '99', '33', '95', '44', '52', '15', '17', '77', '33', '14', '55', '26', '77', '43', '88', '88', '36', '66', '12', '18', '44', '77', '37', '74', '67', '52', '66', '33', '11', '44', '11', '87', '66', '91', '76', '77', '33', '44', '88', '49', '73', '99', '38', '88', '11', '63', '11', '88', '52', '18', '86', '66', '66', '83', '43', '33', '76', '69', '66', '54', '66', '29', '44', '89', '89', '29', '11', '55', '65', '22', '38', '53', '37', '39', '19', '69', '35', '97', '93', '94', '32', '44', '11', '84', '38', '16', '77', '99', '66', '94', '47', '88', '44', '58', '35', '17', '24', '39', '89', '28', '44', '73', '55', '69', '66', '55', '14', '25', '32', '57', '38', '14', '84', '44', '58', '15', '84', '44', '66', '78', '11', '57', '33', '22', '47', '83', '53', '78', '55', '22', '99', '93', '55', '99', '69', '77', '42', '11', '25', '99', '32', '64', '87', '22', '46', '18', '66', '77', '22', '34', '26', '94', '95', '55', '36', '92', '65', '85', '51', '21', '44', '25', '49', '58', '22', '66', '88', '38', '52', '63', '85', '22', '47', '98', '54', '44', '67', '74', '97', '92', '26', '22', '99', '33', '55', '69', '24', '82', '22', '19', '33', '15', '44', '55', '61', '22', '89', '24', '63', '66', '43', '55', '42', '99', '78', '54', '77', '72', '72', '29', '22', '16', '11', '25', '99', '55', '17', '13', '75', '33', '52', '42', '55', '77', '28', '44', '11', '31', '42', '66', '58', '36', '35', '92', '29', '45', '78', '44', '13', '11', '25', '98', '85', '22', '66', '11', '36', '46', '33', '14', '88', '88', '66', '25', '82', '77', '15', '55', '99', '77', '11', '47', '33', '99', '66', '48', '66', '67', '42', '88', '35', '66', '61', '22', '54', '11', '61', '68', '16', '37', '56', '27', '99', '18', '66', '22', '12', '63', '65', '77', '79', '43', '29', '88', '88', '97', '68', '99', '34', '55', '68', '67', '84', '82', '53', '99', '42', '82', '88', '26', '29', '44', '74', '33', '35', '12', '81', '69', '85', '88', '66', '66', '17', '11', '57', '26', '33', '77', '43', '77', '88', '99', '55', '11', '55', '88', '92', '11', '99', '79', '45', '44', '77', '44', '67', '99', '33', '91', '22', '73', '53', '55', '73', '44', '11', '84', '55', '33', '22', '44', '22', '44', '44', '88', '52', '48', '42', '43', '68', '31', '19', '81', '11', '23', '11', '89', '33', '33', '39', '99', '95', '99', '96', '88', '44', '11', '44', '86', '46', '33', '98', '38', '92', '53', '34', '49', '73', '59', '77', '86', '14', '99', '39', '14', '45', '55', '71', '11', '76', '27', '59', '22', '33', '66', '98', '33', '42', '99', '33', '93', '27', '22', '88', '77', '73', '75', '26', '52', '14', '33', '55', '12', '99', '22', '44', '75', '83', '22', '79', '68', '55', '77', '29', '92', '79', '99', '62', '99', '55', '66', '33', '14', '82', '43', '99', '77', '44', '13', '44', '66', '43', '89', '36', '94', '55', '11', '11', '55', '98', '67', '15', '99', '78', '16', '25', '82', '58', '11', '72', '55', '77', '61', '69', '22', '22', '57', '81', '56', '68', '77', '81', '44', '99', '19', '38', '22', '88', '44', '22', '66', '64', '12', '55', '33', '64', '41', '64', '55', '53', '21', '64', '22', '33', '23', '22', '66', '38', '83', '95', '57', '11', '41', '15', '31', '88', '11', '62', '44', '77', '79', '76', '47', '72', '85', '24', '88', '53', '44', '77', '27', '85', '79', '11', '43', '16', '22', '11', '44', '21', '68', '22', '88', '28', '11', '77', '33', '96', '86', '11', '11', '94', '42', '96', '77', '57', '88', '22', '12', '58', '24', '65', '98', '11', '99', '66', '71', '33', '11', '88', '21', '37', '85', '16', '18', '71', '66', '84', '14', '64', '88', '95', '55', '53', '49', '57', '98', '23', '55', '22', '19', '35', '59', '99', '22', '55', '61', '22', '33', '85', '11', '86', '36', '83', '55', '75', '44', '93', '23', '23', '33', '83', '83', '66', '41', '22', '73', '66', '84', '86', '58', '89', '64', '79', '77', '33', '84', '38', '44', '78', '82', '69', '76', '53', '54', '66', '88', '46', '71', '66', '61', '77', '52', '28', '78', '22', '96', '44', '74', '72', '91', '35', '99', '22', '27', '15', '88', '82', '67', '22', '81', '28', '69', '11', '39', '45', '61', '47', '93', '82', '26', '78', '11', '22', '93', '43', '86', '86', '99', '88', '55', '47', '55', '86', '16', '87', '86', '18', '71', '44', '44', '29', '77', '56', '33', '22', '59', '77', '55', '32', '44', '44', '15', '77', '32', '23', '55', '11', '21', '36', '88', '77', '44', '77', '78', '99', '71', '72', '28', '37', '29', '46', '99', '97', '48', '36', '86', '32', '26', '88', '44', '44', '55', '55', '75', '88', '95', '96', '22', '17', '22', '55', '99', '83', '98', '63', '95', '94', '91', '99', '66', '52', '44', '93', '32', '33', '52', '22', '11', '76', '68', '88', '77', '83', '78', '72', '48', '96', '53', '99', '75', '22', '42', '29', '48', '75', '36', '61', '44', '44', '67', '22', '41', '33', '52', '81', '11', '33', '22', '11', '89', '62', '53', '35', '22', '26', '66', '77', '83', '69', '51', '51', '51', '22', '22', '54', '78', '77', '55', '44', '22', '33', '64', '36', '22', '45', '44', '12', '64', '66', '31', '66', '66', '33', '55', '63', '71', '53', '11', '88', '53', '66', '97', '33', '66', '82', '77', '22', '27', '77', '33', '33', '33', '16', '11', '29', '15', '44', '86', '97', '26', '71', '94', '11', '49', '56', '99', '21', '11', '55', '13', '38', '96', '77', '43', '87', '55', '99', '22', '13', '47', '44', '29', '77', '55', '17', '18', '88', '33', '78', '35', '82', '53', '14', '91', '11', '11', '78', '51', '22', '91', '85', '94', '74', '77', '55', '19', '33', '79', '23', '88', '88', '32', '29', '56', '85', '88', '37', '15', '35', '99', '31', '54', '56', '35', '88', '77', '28', '97', '98', '53', '49', '97', '55', '35', '11', '59', '62', '46', '69', '51', '65', '66', '99', '56', '99', '23', '85', '11', '32', '45', '96', '73', '96', '88', '41', '61', '44', '33', '44', '24', '32']

In [4]:
#Once I confirmed my lists were working right, I continued this function to sum them together.
def treb_1():
    first_dig = []
    last_dig = []
    for i in data['Code']:
        first_dig.append(i[0])
    for i in data['Code']:
        last_dig.append(i[-1])
    new_list = [x + y for x, y in zip(first_dig, last_dig)]
#Here I change the strings into integers so they could be aggregated.
    for i in range(0, len(new_list)):
        new_list[i] = int(new_list[i])
#Them I printed the sum of this list of integers to get the answer.
    print(sum(new_list))
treb_1()

54331